spring:
  application:
    name: tradeswift-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/tradeswift
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true


# JWT Configuration
app:
  jwt:
    access-token-secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
    refresh-token-secret: ${JWT_SECRET:074E635266556A586E3272357538782F413F4428472B4B6250645367566B5904}
    access-expiration-ms: 86400000  # 24 hours in milliseconds
    refresh-expiration-ms: 604800000  # 7 days in milliseconds

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    path: /api-docs
    enabled: true

  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    filter: true

  show-actuator: false

  # Group APIs by controller
  group-configs:
    - group: authentication
      display-name: Authentication APIs
      paths-to-match: /api/v1/auth/**

    - group: users
      display-name: User Management APIs
      paths-to-match: /api/v1/users/**


server:
  port: 8080

logging:
  level:
    com.tradeswift.backend: DEBUG